[Unit]
Description=systemd socket activation for rsync

[Socket]
ListenStream=/run/rsyncd.sock
Accept=yes
MaxConnections=128

[Install]
WantedBy=sockets.target
