name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: pip3 install -Ur requirements.txt
    - name: Build docs
      run: mkdocs -v build
    - name: Deploy to GitHub Pages
      run: |
        cd site
        git init --quiet
        echo -n "docs.ustclug.org" > CNAME
        : > .nojekyll
        git add --all
        git -c user.name=GitHub -c user.email=noreply@github.com \
          commit --message "Auto deploy from GitHub Actions"
        git push https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY.git +HEAD:gh-pages
